legend{
    color: green;
}

h3{
    color: red;
}
form{
    padding-left: 100px;
    padding-right: 100px;
}
body{
    background-color: rgb(255, 255, 255);
}
h1{
    color: purple;
}

